.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cards {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 1rem;
    width: 66rem;
    scroll-snap-type: x mandatory; 
}

.card {
    flex: 0 0 auto;
    background: var(--white);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    width: 22rem;
    height: 29rem;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
}

.card__preview {
    height: 12rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card__preview img {
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}

.card:hover .card__preview img {
    transform: scale(1.35);
}

.card__price {
    background-color: var(--white);
    color: var(--text);
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    z-index: 1;
}

.card__content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--text);
}

.card__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card__address {
    margin-top: 0.5rem;
    color: var(--text);
}

.card__description {
    margin-top: 0.5rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}

.card__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__btn svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--text);
    stroke-width: 1.5px;
}

.card__btn--like svg {
    stroke: red;
    fill: red;
}

.scrollButton {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text);
    padding: 0 0.5rem;
    transition: color 0.2s ease-in-out;
}

.scrollButton:hover {
    color: #333; /* Adjust this for hover color */
}
